body{
    background-image: url("https://static01.nyt.com/images/2015/10/24/opinion/24manguel/24manguel-superJumbo.jpg");
    background-attachment: fixed;
    background-position: center center;
    font-family: Goudy Old Style, Garamond, Georgia, 'Times New Roman', Times, serif;
    color: saddlebrown;
}

div#body{
    background-color: rgba(222, 184, 135, .9);
    padding: 10px;
}

a, a:link {
    color: saddlebrown;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1#title {
    font-family: Brush Script MT;
    font-size: 50px;
    text-align: center;
    color: maroon;
}

hr {
    border-width: 0px;
    background-color: maroon;
    height: 1px;
}

hr#navbar {
    width: auto;
}

hr.divider {
    width: 50%;
    margin-left: 0px;
}